/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0D040D;
    margin: 0;
    padding: 0;
    color: #D9D9D9;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0D0D0D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #D9D9D9;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #0D0D0D;
    color: #D9D9D9;
    padding: 10px 15px;
    border: 1px solid #D9D9D9;
}

.openbtn:hover {
    background-color: #0D0D0D;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* Header styles */
header {
    background-color: #3C3C3C;
    color: #D9D9D9;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}



/* Logo styles */
.logo {
   background-color: black; 
    color: #ffffff;
    font-family: 'Impact', sans-serif;
    font-size: 36px; 
    text-transform: uppercase; 
    text-align: center; 
    text-shadow: 5px 5px 5px gray;
    padding: 10px; 
    margin: 20px; 
    letter-spacing: 3px; 
    box-shadow: 3px 3px 5px #888888;
    border: 2px solid #e74c3c;


/* Main menu styles */
.main-menu {
    margin-top: 20px;
}

.internal-links {
    display: flex;
    justify-content: space-around; /
    align-items: center;
    margin-top: 20px;
}

.internal-links a {
    font-size: larger;
    padding: 8px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: #D9D9D9;
    background-color: #202020;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
}

.internal-links a:hover {
    background-color: #D9D9D9;
    color: #0D040D;
    transform: scale(1.3);
}




/* Content section styles */
.content {
    padding: 20px;
    background-color: #D9D9D9;
    margin-top: 20px;
    color: #0D040D;
}

/* Feedback form styles */
.form-content {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form headings */
.form-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0D040D;
}

/* Form paragraph */
.form-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

/* Form labels */
.feedback-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Form input fields */
.feedback-input,
.feedback-select,
.feedback-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Form select field */
.feedback-select {
    cursor: pointer;
}

/* Submit button */
.feedback-submit {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback-submit:hover {
    background-color: #555;
}

.feedback-reset {
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Odstęp od przycisku "Wyślij" */
}

.feedback-reset:hover {
    background-color: #ddd;
}

/* Table styles */
.idole-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #0D0D0D; /* Updated text color */
}

.idole-table th,
.idole-table td {
    border: 1px solid #D9D9D9;
    padding: 8px;
    text-align: left;
    color: #D9D9D9;
}

.idole-table th {
    background-color: #0D040D;
}

/* List header styles */
.list-header {
    margin-top: 20px;
    color: #D9D9D9;
    text-align: center;
}
/* Idol list styles */
.idol-list {
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Automatyczne wyśrodkowanie listy */
    background-color: #0D040D;
    border: 2px solid #D9D9D9;
    color: #D9D9D9;
    text-align: left;
    max-width: 600px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.idol-list > li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.idol-list li::before {
    color: #D9D9D9;
    font-size: 18px;
    margin-right: 8px;
}

.idol-list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding-left: 20px;
}

.kontener {
    display: flex;
    flex-direction: column;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #3C3C3C;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}



            @media screen and (min-width: 950px) {
                .kontener {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start; /* Wyrównanie do góry */
                    justify-content: space-between; /* Równomierne rozłożenie elementów */
                }

                .lista-lewo {
                    flex: 1;
                    margin-right: 20px;
                }

                .ankieta-prawo {
                    flex: 1;
                    margin-top: 75px;
                }
            }


            /* Adjustments for smaller screens */
            @media screen and (max-width: 600px) {

                body {
                    align-items: center;
                }

                .header {
                    padding: 10px;
                }

                .logo {
                    font-size: 24px;
                }

                .main-menu {
                    margin-top: 10px;
                }

                .internal-links {
                    flex-direction: column;
                }

                .internal-links a {
                    margin-bottom: 10px;
                }

                .content {
                    padding: 10px;
                    margin-top: 10px;
                }

                .feedback-form {
                    padding: 20px;
                    margin-top: 10px;
                }

                .feedback-form input[type='text'],
                .feedback-form input[type='email'],
                .feedback-form select {
                    width: 100%;
                    padding: 12px;
                    margin-bottom: 15px;
                    font-size: 14px;
                }

                .feedback-form input[type='submit'],
                .feedback-form input[type='reset'] {
                    padding: 14px 24px;
                    font-size: 12px;
                }

                .idole-table {
                    overflow-x: auto;
                    display: block;
                    max-width: 100%;
                    border: 1px solid #ccc; /* Adjust border for visual separation */
                    border-collapse: collapse;
                    margin-bottom: 15px; /* Adjust space below the table */
                    margin-top: 10px; /* Adjust space above the table */
                    border-radius: 8px; /* Add border radius for a softer look */
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
                }

                .idole-table th,
                .idole-table td {
                    white-space: nowrap;
                    padding: 10px; /* Increase cell padding for readability */
                    text-align: center; /* Center-align table content */
                }

                /* Scrollbar styles */
                .idole-table::-webkit-scrollbar {
                    width: 6px;
                }

                .idole-table::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                .idole-table::-webkit-scrollbar-thumb {
                    background: #888;
                    border-radius: 4px;
                }

                .idole-table::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

                .list-header {
                    margin-top: 10px;
                }

                .idol-list {
                    padding: 10px;
                    max-width: unset;
                }

                .idol-list > li {
                    margin-bottom: 8px;
                }


                footer {
                    padding: 5px;
                }

            }



            /* Adjustments for tablet-sized screens */
            @media screen and (min-width: 601px) and (max-width: 1024px) {
                header {
                    padding: 20px;
                }

                .logo {
                    font-size: 32px;
                }

                .main-menu {
                    margin-top: 20px;
                }

                .internal-links {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                .internal-links a {
                    margin: 10px;
                    padding: 14px 24px;
                    flex: 1 1 auto;
                    text-align: center;
                }


                .content {
                    padding: 15px;
                    margin-top: 15px;
                }

                /* Feedback form styles */
                .feedback-form {
                    padding: 25px;
                    margin-top: 15px;
                }

                .feedback-form input[type='text'],
                .feedback-form input[type='email'],
                .feedback-form select {
                    padding: 16px;
                    margin-bottom: 18px;
                    font-size: 14px;
                }

                .feedback-form input[type='submit'],
                .feedback-form input[type='reset'] {
                    padding: 18px 30px;
                    font-size: 14px;
                }

                /* Table styles */
                .idole-table {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                .idole-table th,
                .idole-table td {
                    padding: 10px;
                }

                /* List header styles */
                .list-header {
                    margin-top: 15px;
                }

                /* Idol list styles */
                .idol-list {
                    padding: 15px;
                }

                .idol-list > li {
                    margin-bottom: 10px;
                }

                /* Footer styles */
                footer {
                    padding: 8px;
                }
            }




/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0D040D;
    color: #D9D9D9;
}


.external-links {
    margin-top: 10px;
}

.external-links a {
    color: #D9D9D9;
    text-decoration: none;
    margin-right: 20px;
}

/* Info Block */
.info-block {
    padding: 20px;
    background-color: #D9D9D9;
    color: #0D040D;
}

/* Gallery */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.galeria a {
    margin: 10px;
}

.galeria img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #D9D9D9;
}

/* Gallery Full Image Container */
.gallery-full-image-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.gallery-full-image-container img {
    max-width: 90%;
    max-height: 90%;
    border: 4px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    background: rgba(255, 255, 255, 0.5);
    color: #333;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
}

.exit-gallery-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}


/* Style for Tab Buttons */
.tablink {
    background-color: grey;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: center;
    margin-left: 10px;
}

.tablink:hover {
    background-color: #ddd;
}

/* Style for Tab Content */
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    color: #0D040D;
}

/* Default tab content to display */
#info {
    display: block;
}

/* Different colors for different tabs */
#info {
    background-color: #f2f2f2;
}

#galeria1 {
    background-color: #f2f2f2;
}



/* Styling for the heading within tab content */
.tabcontent h3 {
    margin-top: 0;
}


.galeria a img {
    transition: transform 0.3s ease-in-out;
}

.galeria a img:hover {
    transform: scale(1.1);
}


/* telefon */
        @media screen and (max-width: 600px) {
            header {
                padding: 10px;
            }

            .logo {
                font-size: 20px;
            }

            .external-links {
                margin-top: 5px;
            }

            /* Info Block */
            .info-block {
                padding: 10px;
            }

            /* Gallery */
            .galeria img {
                width: 100%;
                height: auto;
            }

            /* Gallery Full Image Container */
            .gallery-full-image-container img {
                max-width: 90%;
                max-height: 90%;
            }

            .gallery-nav {
                margin-bottom: 70px;
            }

            .nav-button,
            .exit-gallery-button {
                padding: 8px 16px;
                font-size: 14px;
            }


            .tablink {
                padding: 10px 12px;
                margin: 5px 0;
            }


            .tabcontent {
                padding: 10px;
            }
        }

                    /*tablet*/
        @media screen and (min-width: 601px) and (max-width: 1024px) {

            header {
                padding: 15px 20px;
            }


            .external-links {
                margin-top: 8px;
            }


            .info-block {
                padding: 15px;
            }

            /* Gallery */
            .galeria img {
                width: 45%;
                height: auto;
            }

            /* Gallery Full Image Container */
            .gallery-full-image-container img {
                max-width: 70%;
                max-height: 70%;
            }

            .gallery-nav {
                margin-bottom: 90px;
            }

            .nav-button,
            .exit-gallery-button {
                padding: 10px 18px;
                font-size: 16px;
            }


            .tablink {
                padding: 12px 14px;
                margin: 6px 0;
            }


            .tabcontent {
                padding: 12px;
            }
        }

.paramore {
    background-color: #937218;
}

    .internal-links-p {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    .internal-links-p a {
        font-size: larger;
        padding: 8px 12px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        color: #D9D9D9;
        background-color: #775C13;
        text-decoration: none;
        transition: transform 0.3s ease;
        display: inline-block;
    }

    .internal-links-p a:hover {
        background-color: #D9D9D9;
        color: #0D040D;
        transform: scale(1.3);
    }

.irek {
    background-color: #100C7A;
}

    .internal-links-i {
        display: flex;
        justify-content: space-around; /
    align-items: center;
        margin-top: 20px;
    }

    .internal-links-i a {
        font-size: larger;
        padding: 8px 12px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        color: #D9D9D9;
        background-color: #0C095D;
        text-decoration: none;
        transition: transform 0.3s ease;
        display: inline-block;
    }

    .internal-links-i a:hover {
        background-color: #D9D9D9;
        color: #0D040D;
        transform: scale(1.3);
    }

.muse {
    background-color: #385070;
}

    .internal-links-m {
        display: flex;
        justify-content: space-around; /
    align-items: center;
        margin-top: 20px;
    }

    .internal-links-m a {
        font-size: larger;
        padding: 8px 12px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        color: #D9D9D9;
        background-color: #2A3C53;
        text-decoration: none;
        transition: transform 0.3s ease;
        display: inline-block;
    }

    .internal-links-m a:hover {
        background-color: #D9D9D9;
        color: #0D040D;
        transform: scale(1.3);
    }

.rage {
    background-color: #535353;
}

    .internal-links-r {
        display: flex;
        justify-content: space-around; /
    align-items: center;
        margin-top: 20px;
    }

    .internal-links-r a {
        font-size: larger;
        padding: 8px 12px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        color: #D9D9D9;
        background-color: #373737;
        text-decoration: none;
        transition: transform 0.3s ease;
        display: inline-block;
    }

    .internal-links-r a:hover {
        background-color: #D9D9D9;
        color: #0D040D;
        transform: scale(1.3);
    }

.maneskin {
    background-color: #700007;
}

.internal-links-mane {
    display: flex;
    justify-content: space-around; /
align-items: center;
    margin-top: 20px;
}

.internal-links-mane a {
    font-size: larger;
    padding: 8px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: #D9D9D9;
    background-color: #530006;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
}

.internal-links-mane a:hover {
    background-color: #D9D9D9;
    color: #0D040D;
    transform: scale(1.3);
}

.deftones {
    background-color: #282828;
}

    .internal-links-def {
        display: flex;
        justify-content: space-around; /
    align-items: center;
        margin-top: 20px;
    }

    .internal-links-def a {
        font-size: larger;
        padding: 8px 12px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        color: #D9D9D9;
        background-color: #1A1A1A;
        text-decoration: none;
        transition: transform 0.3s ease;
        display: inline-block;
    }

    .internal-links-def a:hover {
        background-color: #D9D9D9;
        color: #0D040D;
        transform: scale(1.3);
    }


.kanye {
    background-color: #B0487F;
}

.internal-links-kanye {
    display: flex;
    justify-content: space-around; /
align-items: center;
    margin-top: 20px;
}

.internal-links-kanye a {
    font-size: larger;
    padding: 8px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: #D9D9D9;
    background-color: #933C6A;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
}

.internal-links-kanye a:hover {
    background-color: #D9D9D9;
    color: #0D040D;
    transform: scale(1.3);
}



/*reponsywnosc*/

